@tailwind base;
@tailwind components;
@tailwind utilities;
.body{
  font-family: 'roboto';
}
.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #318145;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}

.swiper{
  height: 600px;
  background-color: #f5f6f8;
  margin: 2%;
}

.swiper-slide{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.swiper img{
  width: 370px;
  height: 480px;
}

.swiper-slide.swiper-slide-active{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swiper button{
  background-color: #221e50;
  color: white;
  border-radius: 3px;
  width: 130px;
  height: 45px;
  background: linear-gradient(to left, #1c194e 50%, #1d1942 50%) right;
  background-size: 200%;
  transition: 1s ease-out;
}

.swiper h2{
  color: #4e836f;
  font-weight: 600;
  margin-bottom: 5%;
  font-size: 20px;
}

.swiper h1{
  color: #293e4d;
  font-weight: bolder;
  font-size: 60px;
}
.swiper p{
  margin-bottom: 5%;

}

.relative .card {
  position: absolute;
  bottom: -50px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

.relative:hover .card {
  bottom: 20px;
  opacity: 1;
}
.zoom:hover img{
  scale: 1.5;
  
}
.zoom{
  overflow: hidden;
}
.shadino{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.lisection{
  width: 50px;
  height: 50px;
}
@font-face{
  font-family: 'wave';
  src: url("../font/Philosopher-Regular.ttf");
}
@font-face{
  font-family: 'roboto';
  src: url("../font/Roboto-Regular.ttf");
}
.title{
  font-family: 'wave';
}
@media screen and (max-width: 376px) { 
  .text-loupe{
    padding: 0;
  }
  .loupe{
    display: none;
  }
  .search{
    display: none;
  }
  .number{
    display: none;
  }
  .info-sales{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .card-flex{
    width: 100%;
    margin: auto;
    margin-top: 5px;
  }
  .card-flex .divimg{
    width: 80%;
  }
  .popbook{
    gap: 5;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .lastsection{
    width: 100%;
  }
  .imgdiv{
    width: 50%;
    
  }
  .imgdiv img{
    width: 100%;
    height: 100%;
  }

  .emailsection{
    margin: auto;
  }
  .inputsection{
    width: 250%;
    height: 60%;
    margin: auto;
  }
  .btnsection{
    height: 60%;
    margin: auto;
  }
  .lisection{
    width: 35px;
    height: 35px;
  }
  .lisection svg{
    margin: auto;
    margin-top: 3px;
    padding-top: 3px;
  }
  .footersection{
    display: flex;
    flex-direction: column;
  }
  .bookinfosect{
    display: contents;
    
  }
  .logobookinfo{
    margin: auto;
  }
  .parabookinfo{
    text-align: center;
  }
  .helpinfo{
    display: contents;
    
  }
  .logohelp{
    margin: auto;
  }
  .parahelp{
    text-align: center;
    margin-bottom: 1rem;
  }
  .endfooter{
    display: flex;
    flex-direction: column;
  }
  .endfooter h1{
    text-align: center;
  }
  .endfooter p{
    text-align: center;
  }
  .footer{
    padding: 0;
  }
}
@media screen and (max-width: 426px){
  .text-loupe{
    padding: 0;
  }
  .loupe{
    display: none;
  }
  .search{
    display: none;
  }
  .number{
    display: none;
  }
  .info-sales{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .card-flex{
    width: 100%;
    margin: auto;
    margin-top: 5px;
  }
  .card-flex .divimg{
    width: 80%;
  }
  .popbook{
    gap: 5;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .lastsection{
    width: 100%;
  }
  .imgdiv{
    width: 50%;
    
  }
  .imgdiv img{
    width: 100%;
    height: 100%;
  }

  .emailsection{
    margin: auto;
  }
  .inputsection{
    width: 250%;
    height: 60%;
    margin: auto;
  }
  .btnsection{
    height: 60%;
    margin: auto;
  }
  .lisection{
    width: 35px;
    height: 35px;
  }
  .lisection svg{
    margin: auto;
    margin-top: 3px;
    padding-top: 3px;
  }
  .footersection{
    display: flex;
    flex-direction: column;
  }
  .bookinfosect{
    display: contents;
    
  }
  .logobookinfo{
    margin: auto;
  }
  .parabookinfo{
    text-align: center;
  }
  .helpinfo{
    display: contents;
    
  }
  .logohelp{
    margin: auto;
  }
  .parahelp{
    text-align: center;
    margin-bottom: 1rem;
  }
  .endfooter{
    display: flex;
    flex-direction: column;
  }
  .endfooter h1{
    text-align: center;
  }
  .endfooter p{
    text-align: center;
  }
  .footer{
    padding: 0;
  }
  /* page allbooks */
  .allbooks{
    display: flex;
    flex-direction: column;
  }
  .allfiltre{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .allsearch{
    display: flex;
    justify-content: center;
  }
  .categ-sect{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .author-sect{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-tri{
    width: 35%;
  }
  .ttlivres{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
  }
  /* page details livres */
  .alldetails{
    width: 100%;
    margin: 0;
  }
  .detailsbook{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .notespara{
    text-align: center;
  }
  .descpara{
    text-align: center;
    width: 100%
  }
  .pagespara{
    text-align: center;
  }
  .connectionpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .qrcodesect h1{
    text-align: center;
  }
  .qrcodesect img{
    width: 25%;
  }
}
